<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Threads</title>

</head>
<body>

    {% if request.user.is_authenticated %}
        <form action="" method="POST">
            {% csrf_token %}
            <label for="thread_name">Thread name: </label><br>
            <input type="text" name="thread_name" id="thread_name">
            <input type="submit" value="Create new thread">
        </form>

    <hr>
    {% endif %}

    <h1> The list of threads: </h1>

    {% if thread_list%}
        <ul>
            {% for thread in thread_list%}
                <li> <a href="{% url 'chat:thread-detail' thread.id %}">{{ thread.thread_name }} | Creator: {{ thread.creator.username }}</li>
            {% endfor %}

        </ul>
    {% endif %}

</body>
</html>